<div *ngIf="hero">
    <!-- <hr> -->
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="hero.name" placeholder="name">
        </label>
    </div>
    <button (click)="save()">Enregistrer</button>
</div>
<button (click)="goBack()">Retour</button>