<h1>{{title}}</h1>
<nav>
    <a [routerLink]="['/dashboard']">Tableau de Bord</a>
    <a routerLink="/heroes">Heroes</a>
</nav>
<!-- <app-heroes></app-heroes> -->
<router-outlet></router-outlet>
<app-messages></app-messages>
<!-- <app-add-product></app-add-product> -->