<h2>Mes Heros</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}"><span class="badge">{{hero.id}}</span>
            {{hero.name}}</a>
        <button class="delete" (click)="delete(hero)" title="delete hero">X</button>
    </li>

</ul>

<div>
    <label>Nom du hero:
        <input #heroName/>
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">Ajouter</button>
</div>
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->